<!DOCTYPE html>
<html>

<head>
  <title>viviify</title>
  <meta charset=utf-8 />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>


<body>
  <div class="flex-center">
    <iframe id="iframe" src="/embed/default" width="400px" height="300px" style="background-color: red;"></iframe>
    <button id="request">Request</button>
    <br />
    <form id="logout">
      <h2>Profile</h2>
      <div>
        <%= email %>
      </div>
      <div>
        <%= name %>
      </div>
      <h2>Logout</h2>
      <input type="submit" value="Logout">
    </form>
  </div>
  <script>
    window.addEventListener("load", () => {
      const form = document.getElementById("logout");
      
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        fetch("/api/v1/user/logout", {
          method: "GET"
        }).then(response => response.json()).then((data) => {
          if (data.error) {
            alert(data.message);
            return;
          }
          if (!data.auth) {
            alert(data.message);
            return;
          }
          window.location.href = "/";
        });
      });
      const iframe = document.getElementById("iframe");
      const request = document.getElementById("request");
      request.addEventListener("click", () => {
        const text = "Hello World";
        const options = {
          voice: "Lisa",
          speed: "fast",
          subtitle: "small"
        };
        fetch("/api/v1/iframe", {
          method: "POST",
          headers: { "Accept": "application/json", "Content-Type": "application/json" },
          body: JSON.stringify({ text, options })
        }).then(response => response.json()).then((data) => {
          if (data.error) {
            alert(data.message);
            return;
          }
          if (!data.auth) {
            alert(data.message);
            return;
          }
          const { url } = data;
          iframe.src = url;
        });
      });
    });
  </script>
</body>

</html>