<!DOCTYPE html>
<html>

<head>
  <title>Delete account | viviify</title>
  <meta charset=utf-8 />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" href="/asset/favicon/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/delete.css" />
</head>

<body>
  <div id="container">
    <header id="header">
      <div id="header-left">
        <div id="header-logo">
          <h2><a href="/" class="header-item">viviify</a></h2>
        </div>
      </div>
      <div id="header-right">
        <div id="header-logout">
          <h4><a class="header-item">Log out</a></h4>
        </div>
      </div>
    </header>
    <main id="main">
      <div id="main-delete">
        <form id="main-form">
          <div id="main-form-top">
            <h2>Delete account</h2>
          </div>
          <div id="main-form-middle">
            <input id="main-form-password" class="main-form-item main-form-text" type="password" name="password"
              pattern=".{8,64}" required title="8 to 64 characters" placeholder="Password" required="" autofocus>
          </div>
          <div id="main-form-bottom">
            <input id="main-form-delete" class="main-form-item" type="submit" value="Delete">
          </div>
        </form>
      </div>
    </main>
  </div>

  <script>
    window.addEventListener("load", () => {
      const logout = document.getElementById("header-logout");
      const form = document.getElementById("main-form");
      const password = document.getElementById("main-form-password");

      logout.addEventListener("click", () => {
        fetch("/api/v1/user/logout", {
          method: "GET"
        }).then(response => response.json()).then((data) => {
          if (data.error) {
            alert(data.message);
            window.location.href = "/";
            return;
          }
          if (!data.auth) {
            alert(data.message);
            window.location.href = "/";
            return;
          }
          window.location.href = "/";
        });
      });

      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const result = confirm("Are you sure you want to delete this account?");
        if (!result) {
          return;
        }
        fetch("/api/v1/user/account", {
          method: "PUT",
          headers: { "Accept": "application/json", "Content-Type": "application/json" },
          body: JSON.stringify({ password: password.value })
        }).then(response => response.json()).then((data) => {
          if (data.error) {
            alert(data.message);
            return;
          }
          if (!data.auth) {
            alert(data.message);
            return;
          }
          alert(data.message);
          window.location.href = "/";
        });
      });
    });
  </script>
</body>

</html>