<!DOCTYPE html>
<html>

<head>
  <title>viviify</title>
  <meta charset=utf-8 />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" href="/asset/favicon/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <script>window.noZensmooth = true;</script>
  <script src="/js/libs/zenscroll-min.js"></script>
</head>

<body>
  <div id="container">
    <header id="header">
      <div id="header-left">
        <div id="header-logo">
          <h2><a class="header-item">viviify</a></h2>
        </div>
      </div>
      <div id="header-right">
        <div id="header-login">
          <h4><a href="/login" class="header-item">Log in</a></h4>
        </div>
        <div id="header-signup">
          <h4><a href="/signup" class="header-item">Sign up</a></h4>
        </div>
      </div>
    </header>
    <main id="main">
      <div id="main-headline">
        <h1 id="main-text">Convert text to video for more engaging learning experience</h1>
        <iframe id="main-video-iframe" src="" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
        <button id="main-get-started">Get Started</button>
      </div>
    </main>
    <footer id="footer">
      <div id="footer-left">
        <div id="footer-copyright">
          <h5>© 2021 viviify. All rights reserved.</h5>
        </div>
      </div>
      <div id="footer-right">
        <div id="footer-email">
          <h5><a href="mailto:support@viviify.com" class="footer-item">support@viviify.com</a></h5>
        </div>
      </div>
    </footer>
  </div>

  <script>
    window.addEventListener("load", () => {
      const logo = document.getElementById("header-logo");
      logo.addEventListener("click", () => {
        zenscroll.toY(0);
      });
      const iframe = document.getElementById("main-video-iframe");
      iframe.contentWindow.location.replace("/embed/cf5f5idgX7f");
      iframe.focus(); // put focus on iframe so we can use its short cuts
      const getStarted = document.getElementById("main-get-started");
      getStarted.addEventListener("click", () => {
        window.location.href = "/signup";
      });
    });
  </script>
</body>

</html>