<!DOCTYPE html>
<html>

<head>
  <title>Sign up | viviify</title>
  <meta charset=utf-8 />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/signup.css" />
</head>

<body>
  <div id="container">
    <header id="header">
      <div id="header-left">
        <div id="header-logo">
          <h2><a href="/" class="header-item">viviify</a></h2>
        </div>
      </div>
    </header>
    <main id="main">
      <div id="main-signup">
        <form id="main-form">
          <div id="main-form-top">
            <h2>Sign up</h2>
          </div>
          <div id="main-form-middle">
            <input id="main-form-email" class="main-form-item main-form-text" type="email" name="email"
              placeholder="Email" required="" autofocus>
            <input id="main-form-password" class="main-form-item main-form-text" type="password" name="password"
              pattern=".{8,64}" required title="8 to 64 characters" placeholder="Password" required="">
            <input id="main-form-name" class="main-form-item main-form-text" type="text" name="name" pattern=".*\S+.*"
              required title="This field is required" placeholder="Name" required="" spellcheck="false">
          </div>
          <div id="main-form-bottom">
            <input id="main-form-signup" class="main-form-item" type="submit" value="Sign up">
          </div>
        </form>
      </div>
    </main>
  </div>

  <script>
    window.addEventListener("load", () => {
      const form = document.getElementById("main-form");
      const email = document.getElementById("main-form-email");
      const password = document.getElementById("main-form-password");
      const name = document.getElementById("main-form-name");

      form.addEventListener("submit", (event) => {
        event.preventDefault();
        fetch("/api/v1/user/signup", {
          method: "POST",
          headers: { "Accept": "application/json", "Content-Type": "application/json" },
          body: JSON.stringify({ email: email.value, password: password.value, name: name.value })
        }).then(response => response.json()).then((data) => {
          if (data.error) {
            alert(data.message);
            return;
          }
          if (!data.auth) {
            alert(data.message);
            return;
          }
          fetch("/api/v1/user/login", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({ email: email.value, password: password.value })
          }).then((response) => response.json()).then((data) => {
            if (data.error) {
              alert(data.message);
              return;
            }
            if (!data.auth) {
              alert(data.message);
              return;
            }
            window.location.href = "/app";
          });
        });
      });
    });
  </script>

</body>

</html>