<!DOCTYPE html>
<html>

<head>
  <title>Watch | viviify</title>
  <meta charset=utf-8 />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/watch.css" />
</head>

<body>
  <div id="container">
    <header id="header">
      <div id="header-left">
        <div id="header-logo">
          <h2><a href="/" class="header-item">viviify</a></h2>
        </div>
      </div>
    </header>
    <main id="main">
      <iframe id="main-video-iframe" src="" frameborder="0" allow="autoplay;"
        allowfullscreen></iframe>
    </main>
  </div>

  <script>
    window.addEventListener("load", () => {
      const iframe = document.getElementById("main-video-iframe");
      const urlParams = new URLSearchParams(window.location.search);
      const autoLoadDefault = 1;
      const autoPlayDefault = 0;
      const queries = {
        autoload: !urlParams.has("autoload") ? autoLoadDefault : urlParams.get("autoload") === "1" ? 1 : 0,
        autoplay: !urlParams.has("autoplay") ? autoPlayDefault : urlParams.get("autoplay") === "1" ? 1 : 0
      };
      const searchParams = new URLSearchParams(queries);
      console.log(`/embed/<%= urlKey  %>?${searchParams.toString()}`);
      iframe.contentWindow.location.replace(`/embed/<%= urlKey  %>?${searchParams.toString()}`);
      iframe.focus(); // put focus on iframe so we can use its short cuts
    });
  </script>

</body>

</html>